.rich-text-to-html {
    img {
        max-width: 100%;
    }
    figure {
        margin: 0;
        margin: 40px 0;
        figcaption {
            margin: 12px 0 0;
            color: rgba(20, 17, 15, 0.3);
            font-size: 12px;
            @media (min-width: $lg) {
                font-size: 14px;
            }
        }
    }
}

.page-temp {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 48px;
    }
}


.page-title {
  background-color: $gray12;
  padding: 12px 20px;
  h1 {
    margin: 0;
    line-height: 1;
    font-size: 14px;
    color: $gray7;
  }
}