$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1640px;
$xxxl: 1920px;

$white: #ffffff;
$white90: rgba(255, 255, 255, 0.9);
$white80: rgba(255, 255, 255, 0.8);
$white60: rgba(255, 255, 255, 0.6);

$gray100:#F5F7F9;
$gray200: #ECEDF2;
$gray300: #DDDDDD;
$gray400: #959FAA;
$gray500: #6D7485;
$gray600: #4A4A4A;
$gray700: #333333;
$gray800: #212325;

$telcoinBlue: #14C8FF;
$telcoinBlueDark: #00ACE0;
$deepOceanBlue: #1364D4;
$purple: #5630CA;
$purpleDark: #391E8C;

$gradientTELx: linear-gradient(109.57deg, #14C8FF 0%, #5630CA 100%);

$cardShadow: 0px 4px 10px rgba(0, 0, 0, 0.1);


