$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1640px;
$xxxl: 1920px;

$white: #ffffff;
$white90: rgba(255, 255, 255, 0.9);
$white80: rgba(255, 255, 255, 0.8);
$white60: rgba(255, 255, 255, 0.6);

$gray1:#FCFCFD;
$gray2: #ECEDF2;
$gray3: #DBDDE6;
$gray4: #C2C6D6;
$gray5: #AAAFC5;
$gray6: #9298B5;
$gray7: #7981A4;
$gray8: #636B92;
$gray9: #535979;
$gray10: #424761;
$gray11: #323549;
$gray12: #212431;

$telcoinBlue: #14C8FF;
$telcoinBlueDark: #00ACE0;
$communityBlue: #37AEFF;
$purple: #5630CA;
$purpleDark: #391E8C;

$gradientTELx: linear-gradient(109.57deg, #14C8FF 0%, #5630CA 100%);

$cardShadow: 0px 4px 10px rgba(0, 0, 0, 0.1);


