.guide-layout {
  background: $gradientNightHorizontal;
  .guide-layout-inner {
    display: grid;

    @media(min-width: $md) {
      // padding: 40px;
    }

    @media(min-width: $lg) {
      padding: 64px;
      grid-template-columns: 1fr 2fr;
      grid-gap: 80px;
      max-width: 1440px;
      margin: 0 auto;
    }

    @media(min-width: $xxl) {
      padding: 64px 0;
    }
    

    aside {
      min-height: 100px;
    }
  
    main {
      min-height: 100px;
    }
  }
}