.guide-layout {
  background: $gradientNightHorizontal;
  .guide-layout-inner {
    display: grid;
    padding: 20px;

    @media(min-width: $md) {
      padding: 40px;
    }

    @media(min-width: $lg) {
      padding: 80px;
      grid-template-columns: 1fr 2fr;
      grid-gap: 80px;
    }
    

    aside {
      min-height: 100px;
    }
  
    main {
      min-height: 100px;
    }
  }
}