.guide-main {
  margin: 0 0 64px;
  .guide-main-inner {
    max-width: 920px;
    margin: 0 auto;
    .article {
      background: rgba(33, 36, 49, 0.5);;
      padding: 48px 20px 64px;
      @media(min-width: $md) {
        padding: 80px;
      }

      h1 {
        font-size: 32px;
        margin: 0 0 32px;
        line-height: 1.2;
      }

      .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        margin: 24px 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    
    @media(min-width: $lg) {
    }
  }
  @media(min-width: $md) {
    .guide-prev-next {
      padding: 0 40px;
    }
  }
  @media(min-width: $lg) {
    .guide-prev-next {
      padding: 0;
    }
  }
}