.guide-main {
  .guide-main-inner {
    max-width: 920px;
    margin: 0 auto;
    .article {
      background: rgba(33, 36, 49, 0.5);;
      padding: 40px 20px;
      @media(min-width: $md) {
        padding: 40px;
      }

      .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
        margin: 24px 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    @media(min-width: $md) {
    }
    @media(min-width: $lg) {
    }
  }
}