.guide-main {
  .guide-main-inner {
    max-width: 920px;
    margin: 0 auto;
    .article {
      background: rgba(33, 36, 49, 0.5);;
      padding: 40px 20px;
      @media(min-width: $md) {
        padding: 64px 40px;
      }
    }
    @media(min-width: $md) {
    }
    @media(min-width: $lg) {
    }
  }
}