.guide-nav {
  z-index: 100000;
  position: fixed;
  left: -100%;
  transition: left .2s;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 80%;
  background: $gradientNightVertical;
  padding: 64px 24px;
  overflow-y: auto;
  .guide-nav-close {
    position: absolute;
    right: 24px;
    top: 20px;
    svg {
      fill: $gray7;
    }
  }
  .guide-nav-inner {
    max-width: 320px;
    margin: 0 auto;
  }
  .guide-nav-page-title {
    font-size: 20px;
    margin: 0 0 48px;
    color: $gray7;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 12px;
      &.guide-nav-category {
        margin: 0 0 48px;
        h3 {
          color: $gray7;
          font-size: 16px;
          line-height: 1.2;
          margin: 0 0 16px;
        }
        a {
          &.active {
            color: $white;
          }
        }
      }
    }
  }

  &.open {
    left: 0;
  }

  @media(min-width: $md) {
    display: flex;
    align-items: center;
    max-width: 50%;
    .guide-nav-page-title {
      font-size: 28px;
    }
  }

  @media(min-width: $lg) {
    position: initial;
    max-width: initial;
    padding: 0;
    background: transparent;
    align-items: flex-start;
    .guide-nav-close {
      display: none;
    }
    .guide-nav-inner {
      .guide-nav-page-title {
        display: none;
      }
    }
  }
}