.guide-nav {
  z-index: 100000;
  position: fixed;
  left: -100%;
  transition: left .2s;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 80%;
  background-color: $gray10;
  filter: drop-shadow(0px 4px 41px rgba(0, 0, 0, 0.55));
  padding: 80px 24px;
  overflow-y: auto;
  .guide-nav-close {
    position: absolute;
    right: 24px;
    top: 20px;
    svg {
      fill: $gray7;
    }
  }
  .guide-nav-inner {
    max-width: 320px;
    margin: 0 auto;
    .guide-nav-inner-title {
      margin: 0 0 64px;
      h2 {
        margin: 0 0 8px;
        line-height: 1;
      }
      p {
        margin: 0;
        color: $gray5;
      }
    }
  }
  .guide-nav-page-title {
    font-size: 20px;
    margin: 0 0 64px;
    color: $gray7;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 12px;
      &.guide-nav-category {
        margin: 0 0 48px;
        &:last-of-type {
          margin: 0;
        }
        h3 {
          color: $gray5;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.2;
          margin: 0 0 16px;
        }
        a {
          &.active {
            color: $white;
          }
        }
      }
    }
  }

  &.open {
    left: 0;
  }

  @media(min-width: $md) {
    display: flex;
    align-items: center;
    max-width: 50%;
    .guide-nav-page-title {
      font-size: 28px;
    }
  }

  @media(min-width: $lg) {
    position: initial;
    max-width: initial;
    padding: 0;
    align-items: flex-start;
    width: 100%;
    padding: 64px;
    filter: none;
    background-color: $gray115;
    .guide-nav-close {
      display: none;
    }
    .guide-nav-inner {
      .guide-nav-page-title {
        display: none;
      }
    }
  }
  @media(min-width: $xl) {
    padding: 80px;
  }
}