.guide-nav {
  ul {
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 12px;
      &.guide-nav-category {
        margin: 0 0 48px;
        h3 {
          color: $gray5;
          font-size: 18px;
          line-height: 1.2;
          margin: 0 0 16px;
        }
      }
    }
  }

  position: fixed;
  left: 100%;
  top: 0;
  z-index: 1000;
  height: 100%;

  @media(min-width: $lg) {
    position: initial;
  }
}