#analytics-chart-section {
 
  .analytics-chart-title {
    text-align: center;
    h2 {
      font-size: 20px;
      margin: 12px 0 8px;
      font-weight: 300;
    }
    h4 {
      margin: 0;
      color: $gray5;
    }
  }

  .analytics-chart-filter  {
    margin: 0 0 48px;
    h4 {
      margin: 0 0 12px;
      color: $gray5;
      font-weight: 300;
    }
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      margin: 0 0 12px;
    }
  }

  .analytics-chart-type-selector {
    margin: 0 0 32px;
    border-bottom: solid 1px $gray10;

    @media(min-width: $md) {
      margin: 0 0 48px;
    }
    @media(min-width: $lg) {
      margin: 0 0 64px;
    }
  }

  .analytics-chart-filters-and-chart {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 32px;
    @media(min-width: $lg) {
      display: grid;
      grid-template-columns: 240px 1fr;
      grid-gap: 48px;
    }
    @media(min-width: $xl) {
      grid-gap: 80px;
      grid-template-columns: 280px 1fr;
    }

    .analytics-chart-wrapper {
      background-color: $gray12;
      border-radius: 12px;
      padding: 24px 0;

      .chart-container {
        .chart {
          .uplot {
            width: 100%;
          }
          .u-wrap {
            width: 100% !important;
            height: 320px !important;
            @media(min-width: $md) {
              height: 480px !important;
            }
          }
        }
      }
    }
  }
}