.analytics-pools-select {
  position: relative;
}

.analytics-pools-select-dropdown {
  background-color:  $gray12;
  border: solid 1px $gray10;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.analytics-pools-select-options {
  background-color:  $gray12;
  border: solid 1px $gray10;
  border-radius: 4px;
  position: absolute;
  max-height: 320px;
  overflow-y: auto;

  li {
    padding: 8px 12px;
    margin: 0 !important;
    cursor: pointer;
    &:hover {
      background: $gray10;
    }
  }

  @media(min-width: $md) {
    width: 400px;
  }
}