.analytics-pools-select,
.analytics-select {
  position: relative;
}

.analytics-pools-select-dropdown,
.analytics-select-dropdown {
  background-color:  $gray12;
  border: solid 1px $gray10;
  padding: 16px 16px;
  font-weight: 700;
color: $white;  
  border-radius: 4px;
  cursor: pointer;
}

.analytics-pools-select-options,
.analytics-select-options {
  background-color:  $gray12;
  border: solid 1px $gray10;
  border-radius: 4px;
  position: absolute;
  max-height: 320px;
  overflow-y: auto;
  width: 100%;
  z-index: 100;
  top: 0;

  .analytics-select-filter,
  .analytics-chart-filter {
    margin: 0;

    li {
      padding: 16px 12px;
      margin: 0 !important;
      width: 100%;
      border-bottom: solid 1px $gray10;
      cursor: pointer;
      &:hover {
        background: $gray10;
      }
    }
  
  }
}