#page-analytics {
    max-width: 1440px;
    margin: 100px auto;
    padding: 32px 12px;
    @media(min-width: $md) {
      padding: 48px 32px;
    }
}

.chart-container {
    .chart {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;

        .chart-title {
            text {
                tspan {
                    fill: $gray10 !important;
                }
            }
        }

        text {
            tspan {
                font-family: hero-new, sans-serif !important;
                font-weight: 700;
                fill: $gray7 !important;
                font-size: 6px !important;
            }
        }
    }
}
