#navigation-desktop {
  display: none !important;
  color: $gray1;
  a {
    color: $gray2;
  }
}

#navigation-mobile {
  display: block !important;
  position: fixed;
  right: -80%;
  width: 80%;
  top: 0;
  transition: right ease .2s;
  z-index: 1000;
  height: 100%;
  border-left: solid 1px $gray2;

  .close-menu {
    position: absolute;
    right: 24px;
    top: 24px;
    svg * {
      fill: $gray2;
    }
  }

  &.open {
    right: 0; 
  }
}

#navigation-shared-inner {
  height: 100%;
  .navigation-shared-inner-skrim {
    background: $gray9;
    padding: 40px 0;
    height: 100%;
    .nsi-logo-wrapper {
      padding: 40px;
      h1 {
        color: $white;
      }
    }
  }
  h1 {
    color: $gray7;
    margin:  0 0 8px;
    font-size: 24px;
    line-height: 1;
  }
  h4 {
    font-weight: normal;
    color: $gray5;
    margin: 0;
    font-size: 12px;
  }
  ul {
    list-style: none;
    padding: 0;
    border-bottom: solid 1px $gray2;
    margin: 0;
    li {
      margin: 0;
      @include textBold();
      position: relative;
      background: $gray5;
      a {
        color: $white;
        font-size: 16px;
        padding: 20px 40px;
        border-top: solid 1px $gray2;
        display: block;
        &:hover {
          color: $purple;
        }
      }
      &.telx-portal-link {
        background: $gradientTELx;
        .tw-icon {
          position: absolute;
          left: 40px;
          top: 18px;
          svg * {
            color: $white;
          }
        }
        a {
          padding-left: 68px;
          color: $white;
        }
      }
    }
  }

  .nsi-socials {
    .social {
      height: 32px;
      width: 32px;
      @include imageBackground();
      display: inline-block;
      margin-right: 12px;
      &.twitter {
        background-image: url("/logos/twitter.svg");
      }
      &.linkedin {
        background-image: url("/logos/linkedin.svg");
      }
    }
  }
}

@media(min-width: $md) {
  #navigation-mobile {
    right: -50%;
    width: 50%;
    #navigation-shared-inner {
      .navigation-shared-inner-skrim {
        h4 {
          font-size: 14px;
        }
      }
    }
  }
}

@media(min-width: $lg) {
  #navigation-mobile {
    display: none !important;
  }
  #navigation-desktop {
    display: block !important;
    .navigation-shared-inner-skrim {
      background-color: $gray2;
      padding: 0 0 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      .nsi-socials {
        display: none;
      }

      h1 {
        font-size: 24px;
        line-height: 1;
        margin: 0;
      }
      h4 {
        display: none;
      }

      .nsi-logo-wrapper {
        padding: 0;
      }

      .nsi-menu-items {
        ul {
          display: flex;
          margin: 0;
          border: 0;
          li {
            margin: 0;
            a {
              font-size: 16px;
              border: 0;
              color: $white;
              padding: 30px 32px;
              height: 80px;
              background-color: $gray2;
              color: $gray6;
              &:hover {
                background-color: $white90;
                color: $deepOceanBlue;
              }
            }
            &.telx-portal-link {
              .tw-icon {
                top: 33%;
                * {
                  color: $deepOceanBlue;
                }
              }
              a {
                background-color: $white;
                color: $deepOceanBlue;
                padding-left: 68px;
                border-bottom: solid 1px $gray2;
              }
              &:hover {
                .tw-icon {
                  * {
                    color: $purple;
                  }
                }
                a {
                  color: $purple;
                }
              }
            }
          }
        }
      }
    }
  }
}
