.twitter-member {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;

  img {
    border-radius: 100%;
  }

  .twitter-member-info {
    margin: 0 0 0 16px;
    h4 {
      font-size: 20px;
      margin: 0 0 8px;
      line-height: 1;
    }
    a {
      line-height: 1;
      font-size: 16px;
      font-weight: 300;
    }
  }
}