.twitter-member {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;

  img {
    border-radius: 100%;
  }

  .twitter-member-info {
    margin: 0 0 0 8px;
    h4 {
      margin: 0px;
      line-height: 1;
    }
    a {
      line-height: 1;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
    }
  }
}