.home-intro-and-twitter {
  background-color: $gray3;

  .page-layout-centered {
    background-color: $gray1;
  }
  .home-intro {
    padding-top: 64px;
    .home-intro-inner {

      h1 {
        line-height: 1.2;
      }

      .card-page-buttons {
        margin-top: 48px;
        display: grid;
        grid-gap: 20px;
        @media(min-width: $md) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  .home-twitter {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }
}

.twitter-members {
  display: grid;
  grid-gap: 20px;
  margin: 40px 0 0;
  @media(min-width: $md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(min-width: $lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media(min-width: $lg) {
  .home-intro-and-twitter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    .page-layout-centered {
      margin: 0;
      padding: 96px 40px;
    }
    
    .home-intro {
      background-color: $gray1;
      min-height: 480px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      .home-intro-inner {
        max-width: 640px;

        h1 {
          font-size: 40px;
          line-height: 1.2;
        }
      }
    }
    .home-twitter {
      background-color: $white;
    }
  }
}